body {
	margin: 0;
	height: 100vh;
	width: 100vw;

	background-color: aliceblue;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding-bottom: 20px;

	font-size: xx-large;

	color: aliceblue;
	background-color: antiquewhite;
	box-shadow: 1px 1px 5px 1px black;
	text-shadow: 1px 1px 5px black;
}

header button {
	height: 50px;
	width: 300px;

	border: none;
	border-radius: 10px;

	background-color: aliceblue;
	box-shadow: 1px 1px 5px 1px;

	font-size: large;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

header button:hover {
	background-color: rgba(240, 248, 255, 0.8);
}

header button span {
	font-size: xx-large;
	padding-right: 10px;
}

.book-grid {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: repeat(3, 1fr);
	gap: 15px;
	overflow: auto;

	padding: 15px;
	margin-left: 15px;

	width: 85%;

	/* border: 1px solid red; */
}

.card {
	padding: 15px;

	border-radius: 25px;

	color: aliceblue;
	box-shadow: 1px 1px 5px 1px black;

	display: flex;
	flex-direction: column;
}

.card .buttons {
	display: flex;
	gap: 10px;
}

.card button {
	align-self: center;

	margin-top: 15px;

	height: 25px;
	width: 95%;

	border: none;
	border-radius: 10px;

	background-color: aliceblue;
	box-shadow: 1px 1px 5px 1px;

	cursor: pointer;
}

.card button:hover {
	background-color: rgba(240, 248, 255, 0.8);
}

.card p {
	margin: 10px;

	font-weight: bold;
	text-shadow: 0px 0px 5px black;
}

.legend {
	position: absolute;
	top: 250px;
	right: 100px;
}

.legend > h3:nth-child(1) {
	color: lightgreen;
}

.legend > h3:nth-child(2) {
	color: lightcoral;
}

.legend span {
	text-shadow: none;
}

.legend .read {
	color: lightgreen;
	background-color: lightgreen;
	box-shadow: 0px 0px 5px 0px black;

	border-radius: 100%;

	padding: 5px;
}

.legend .unread {
	color: lightcoral;
	background-color: lightcoral;
	box-shadow: 0px 0px 5px 0px black;

	border-radius: 100%;

	padding: 5px;
}

.close {
	display: none;
}

dialog {
	position: absolute;
	top: 30%;

	padding: 0;

	height: auto;

	border: none;

	display: flex;
	justify-content: center;
	align-items: center;
}

dialog form {
	padding: 15px;

	background-color: aliceblue;
	box-shadow: 1px 1px 5px 1px;

	display: flex;
	flex-direction: column;
	gap: 5px;
}

dialog form .header {
	display: flex;
	gap: 25px;
}

dialog form .header button {
	display: flex;
	align-items: center;

	height: 20px;

	border: none;
	border-radius: 50%;

	font-weight: bold;

	color: white;
	background-color: red;
	box-shadow: 1px 1px 5px 1px black;

	cursor: pointer;
}

dialog form .header button:hover {
	background-color: rgba(255, 0, 0, 0.5);
}

dialog form > button {
	border: none;
	border-radius: 15px;

	box-shadow: 1px 1px 5px 1px black;

	height: 25px;

	cursor: pointer;
}

dialog form > button:hover {
	background-color: lightgrey;
}
