body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding-bottom: 20px;

	font-size: xx-large;

	color: aliceblue;
	background-color: antiquewhite;
	box-shadow: 1px 1px 5px 1px black;
	text-shadow: 1px 1px 5px black;
}

header button {
	height: 50px;
	width: 300px;

	border: none;
	border-radius: 10px;

	background-color: aliceblue;
	box-shadow: 1px 1px 5px 1px;

	font-size: large;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
}

header button span {
	font-size: xx-large;
	padding-right: 10px;
}

.book-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: repeat(3, 1fr);
	gap: 15px;
	overflow: auto;

	padding: 15px;
}

.card {
	height: 200px;
	width: 250px;

	border: 1px solid black;
}

.close {
	display: none;
}

dialog {
	position: absolute;
	top: 30%;

	padding: 0;

	height: auto;

	border: none;

	display: flex;
	justify-content: center;
	align-items: center;
}

dialog form {
	padding: 15px;

	background-color: aliceblue;
	box-shadow: 1px 1px 5px 1px;

	display: flex;
	flex-direction: column;
	gap: 5px;
}

dialog form .header {
	display: flex;
	gap: 25px;
}

dialog form .header button {
	display: flex;
	align-items: center;

	height: 20px;

	border: none;
	border-radius: 50%;

	font-weight: bold;

	color: white;
	background-color: red;
	box-shadow: 1px 1px 5px 1px black;
}
